<a href="https://colab.research.google.com/github/spear011/YearDream-2th/blob/main/python_300_(200~240).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_coin() :
    print("비트코인")

print_coin()

비트코인

In [ ]:
for i in range(10) :
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
def coins() :
    for i in range(10) :
        print("new coin")

coins()

new coin
new coin
new coin
new coin
new coin
new coin
new coin
new coin
new coin
new coin

In [ ]:
def new(a, b) :
    print(a + b)

new("2","1")

21

In [ ]:
def smile(a) :
    print(f"{a} :D")

smile("happy")

happy :D

In [ ]:
def price(a) :
    print(a * 1.3)

price(130)

169.0

In [ ]:
def print_upper_price(price) :
    print(price * 1.3)

print_upper_price(30)

39.0

In [ ]:
def price(a,b) :
    print(a+b)

price(130, 130)

260

In [ ]:
def price(a,b) :
    print("a + b =", a+b)
    print("a x b =", a*b)
    print("a - b =", a-b)
    print("a / b =", a/b)

price(130, 130)

a + b = 260
a x b = 16900
a - b = 0
a / b = 1.0

In [ ]:
def A(a,b,c) :
    if a > b and a > c:
        print(a)
    elif b > a and b > c :
        print(b)
    elif c > a and c > a:
        print(c)

A(1,2,3)

3

In [ ]:
def print_reverse(a):
    print(a[::-1])

print_reverse("python")

nohtyp

In [ ]:
score_list = ([1, 2, 3])

def avg(a) :
    print(sum(a) / len(a))

avg(score_list)

2.0

In [ ]:
even = ([1, 3, 2, 10, 12, 11, 15])

def two(a) :
    for a in a:
        if a % 2 == 0 :
            print(a)

two(even)

2
10
12

In [ ]:
a = ({"이름":"김말똥", "나이":30, "성별":0})

def print_keys(i) :
    print(i.keys())

print_keys(a)

dict_keys(['이름', '나이', '성별'])

In [ ]:
print(a["이름"])

김말똥

In [ ]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def ohlc(a,b) :
    print(a[b])

ohlc(my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
# calc_monthly_salary(annual_salary)

def calc_monthly_salary(a) :
    print(int(a) / 12)

calc_monthly_salary(5600000)

466666.6666666667

In [ ]:
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay
    
calc_monthly_salary(5600000)

466666

In [ ]:
def make_url(a) :
    print(f"www.{a}.com")

make_url("naver")

www.naver.com

In [ ]:
def make_url(a) :
    domain = "www." + a + ".com"
    return domain

make_url("naver")

'www.naver.com'

In [ ]:
def make_list(a) :
    data = []
    for i in a :
        data.append(i)
    return data

make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
def pickup_even(a) :
    data = []
    for i in a:
        if i % 2 == 0 :
            data.append(i)
    return data

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
def convert_int(a) :
    b = int(a.replace(",",""))
    return b

convert_int("1,234,567")

1234567

In [ ]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22