<a href="https://colab.research.google.com/github/spear011/YearDream-2th/blob/python-300/python_300_(60~130).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0::2])

['삼성전자', 'Naver']

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort(reverse=True)
print(data)

[10, 9, 5, 4, 3, 2, 1]

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(type(data))

<class 'list'>

In [ ]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
scores.sort(reverse=True)
_, _, *top = scores
print(top)

[9.5, 9.4, 9.3, 9.2, 8.9, 8.8, 8.7, 7.8]

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
scores.sort(reverse=True)
_, *top, _ = scores
print(top)

[9.7, 9.5, 9.4, 9.3, 9.2, 8.9, 8.8, 8.7]

In [ ]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(type(ice))

<class 'dict'>

In [ ]:
ice["죠스바"] = 1200

In [ ]:
ice["월드콘"] = 1500

In [ ]:
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
ice["메로나"]

1000

In [ ]:
print("가격: ", ice["메로나"])

가격:  1000

In [ ]:
del ice['메로나']

In [ ]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
print(inventory["메로나"][0], "원")

300 원

In [ ]:
inventory["월드콘"] = [500,7]

In [ ]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
a = list(inventory.keys())
print(a)

['메로나', '비비빅', '죠스바', '월드콘']

In [ ]:
price = list(inventory.values())
print(price)

[[300, 20], [400, 3], [250, 100], [500, 7]]

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
total = sum(price)
print(total)

6700

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['팥빙수'] = 2700
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700}

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
a = zip(keys, vals)
print(type(a))

<class 'zip'>

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [ ]:
print(3 >= 4)

False

In [ ]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
num = 1
a = '안녕하세요'
for num in num<3
    num = num + 1
    print(a)

SyntaxError: ignored

In [ ]:
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [ ]:
user = input("number :")
print(int(user) + 10)

number :30
40

In [ ]:
user = input()
if int(user) % 2 == 0 :
    print("짝수")
else :
    print("홀수")

2
짝수

In [ ]:
user = input()
num = int(user) + 20
if num < 255 :
    print(num)
else :
    print(255)

230
250

In [ ]:
user = input()
num = int(user) - 20
if num <= 0 :
    print(0)
else:
    if num > 255:
        print(255)
    else:
        print(num)

276
255

In [ ]:
user = input()
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

In [ ]:
user = input()
num = int(user) - 20
if num <= 0 :
    print(0)
elif num > 255:
    print(255)
else:
    print(num)

275
255

In [ ]:
fruit = ["사과", "포도", "홍시"]
user = input("과일 입력해봐 :")
if user in fruit:
    print("정답")
else :
    print("오답")

과일 입력해봐 :사과
정답

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목 입력 : ")
if user in warn_investment_list :
    print("투자 경고")
else :
    print("투자해")

종목 입력 : tigkel
투자해

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("계절 입력해봐 :")
if user in fruit.values():
    print("정답")
else :
    print("오답")

계절 입력해봐 :딸기
정답

In [ ]:
user = input()
score = int(user)
if 80< score <= 100 :
    print("A")
elif 61 < score <= 80:
    print("B")
else :
    print("C")

55
C

In [ ]:
money = input()
money = int(money)

if money.endswith("달러") :
    print(money * 1167)
elif money.endswith("엔") :
    print(money * 1.096)
else :
    print(money * 1268)

100달러

ValueError: ignored

In [ ]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [ ]:
user = input ("입력 : ")
num, money = user.split()
if money == "달러" :
    print(int(num) * 1167)
elif money == "엔" :
    print(int(num) * 1.096)
else :
    print("재입력바랍니다")

입력 : 100 유로
재입력바랍니다

In [ ]:
user = input()
num = user.split("-")[0]
if num == "011" :
    com = "SKT"
else :
    com = "알수없음"
print(f"user of {com}")

011
user of SKT

In [ ]:
user = input()
back = user.split("-")[1]
if back[0] == "1" or back[0] == "3" :
    print("남자")
else :
    print("여자")

930101-1179114
남자

In [ ]:
user = input()
user = user.split("-")[1]
if user[0] == "1" or user[0] == "3" :
    print("남자")
else :
    print("여자")

930101-1179114
여자

In [ ]:
user = input()
num = user.split("-")[1]
if num[0] == "1" or num[0] == "3" :
    print("남자")
elif num[0] == "2" or num[0] == "4" :
    print("여자")
else :
    print("재입력 바랍니다")

930101-2288128
여자

In [ ]:
user = input()
num = user.split("-")[1]
num2 = int(num)
if 0 <= num2[1:3] <= 8 :
    print("서울")
elif 9 <= num2[1:3] <= 12 :
    print("부산")
else :
    print("지방")

930101-1179114

TypeError: ignored

In [ ]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 930101-1179114
서울이 아닙니다.