<a href="https://colab.research.google.com/github/spear011/YearDream-2th/blob/python-300/python_300_(130~_160).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
A = ["a","b","c"]
for i in A:
    print(i)

a
b
c

In [ ]:
print("출력 : A")
print("출력 : B")
print("출력 : C")

출력 : A
출력 : B
출력 : C

In [ ]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [ ]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [ ]:
a = [10, 20, 30]
for i in a:
    print(i)
    print("-----")

10
-----
20
-----
30
-----

In [ ]:
a = [10, 20, 30]
print("-----")
for i in a:
    print(i)

-----
10
20
30

In [ ]:
a = [1,2,3,4]
for i in a:
    print("----")

----
----
----
----

In [ ]:
a = [100, 200, 300]
for i in a:
    print(i + 10)

110
210
310

In [ ]:
a = ["김밥", "라면", "튀김"]
for i in a:
    print(f"오늘의 메뉴 : {i}")

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [ ]:
a = ["SK하이닉스", "삼성전자", "LG전자"]
for i in a:
    print(len(i))

6
4
4

In [ ]:
a = ['dog', 'cat', 'parrot']
for i in a:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
a = ['dog', 'cat', 'parrot']
for i in a:
    print(i[0])

d
c
p

In [ ]:
a = [1, 2, 3]
for i in a:
    print(f"3 x {i}")

3 x 1
3 x 2
3 x 3

In [ ]:
a = [1, 2, 3]
for i in a:
    print(f"3 x {i} =", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
a = ["가", "나", "다", "라"]
for i in a[1:]:
    print(i)

나
다
라

In [ ]:
a = ["가", "나", "다", "라"]
for i in a[0::2]:
    print(i)

가
다

In [ ]:
a = ["가", "나", "다", "라"]
for i in a[::-1]:
    print(i)

라
다
나
가

In [ ]:
a = [3, -20, -3, 44]

for i in a:
    if i > 0 :
        print(i)

3
44

In [ ]:
a = [3, 100, 23, 44]

for i in a:
    if i % 3 == 0 :
        print(i)

3

In [ ]:
a = [13, 21, 12, 14, 30, 18]

for i in a:
    if i < 20 and i % 3 == 0 :
        print(i)

12
18

In [ ]:
a = ["I", "study", "python", "language", "!"]

for i in a:
    if len(i) >= 3 :
        print(i)

study
python
language

In [ ]:
a = ["A", "b", "c", "D"]

for i in a:
    if i.isupper() :
        print(i)

A
D

In [ ]:
a = ["A", "b", "c", "D"]

for i in a:
    if i.islower() :
        print(i)

b
c

In [ ]:
a = ['dog', 'cat', 'parrot']

for i in a :
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [ ]:
a = ['hello.py', 'ex01.py', 'intro.hwp']

for i in a:
    i = i.split(".")
    print(i[0])

hello
ex01
intro

In [ ]:
a = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in a :
    i2 = i.split(".")
    if i2[1] == "h" :
        print(i)

intra.h
define.h

In [ ]:
a = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in a :
    i2 = i.split(".")
    if i2[1] == "h" or i2[1] == "c" :
        print(i)

intra.h
intra.c
define.h

In [ ]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9