<a href="https://colab.research.google.com/github/spear011/YearDream-2th/blob/python-300/python_300_(160~200).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2002,2050,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [ ]:
for i in range(0,31,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [ ]:
a = list(range(10))

for i in a[::-1]:
    print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
a = range(10)

for i in a:
    print(f"0.{i}")

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
a = range(1, 10, 2)

for i in a:
    print("3 x",i,"=",i*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
a = range(11)
h = 0
for i in a:
    h = h + i
print(h)

55

In [ ]:
a = range(1,11,2)
h = 0
for i in a:
    h = h + i
print(h)

25

In [ ]:
a = range(1, 10)
h = 1

for i in a :
    h = h * i

print(h)

362880

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4)[::-1] :
    print(i, price_list)

3 [32100, 32150, 32000, 32500]
2 [32100, 32150, 32000, 32500]
1 [32100, 32150, 32000, 32500]
0 [32100, 32150, 32000, 32500]

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(3) :
    print( f"1{i}0" , price_list[i] )

100 32100
110 32150
120 32000

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(3) :
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(3) :
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(1,4)[::-1]:
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
my_list = [100, 200, 400, 800]

for i in range(3):
    print(my_list[i+1] - my_list[i])

100
200
400

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

for i in range(0,5) :
    print(high_prices[i] - low_prices[i])

50
100
30
80
0

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(0,5) :
    volatility.append(high_prices[i] - low_prices[i])

volatility

[50, 100, 30, 80, 0]

In [ ]:
a = [ [101,102],
      [201,202],
      [301,302]
    ]
a

[[101, 102], [201, 202], [301, 302]]

In [ ]:
a = dict()
a= {(100, 80), (200,210), (300,330)}

print(type(a))

<class 'set'>

In [ ]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
stock = {"10/10" : [80, 110, 70], "10/11" : [210,230,190]}
print(stock)

{'10/10': [80, 110, 70], '10/11': [210, 230, 190]}

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
    print("------")

101 호
102 호
------
201 호
202 호
------
301 호
302 호
------

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data :
    sub=[]
    for col in line :
        sub.append(col * 1.4)
    result.append(sub)
result

[[2800.0, 4270.0, 2870.0, 2772.0],
 [10500.0, 2870.0, 2870.0, 2772.0],
 [21630.0, 21070.0, 21770.0, 20860.0]]

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:] :
    print(row[3])

100
190
310

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if i[3] > 150 :
        print(i[3])

190
310

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if i[3] >= i[0] :
        print(i[3])

100
310

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

v = []
for i in ohlc[1:] :
    vs = []
    vs = (i[1] - i[2]) 
    v.append(vs)

print(v)

[40, 30, 10]

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for i in ohlc[1:] :
    day = i[3] - i[0]
    profit = profit + day

print(profit)

0